#shepherd-underlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index:99999999999999999;
}
#shepherd-overlay {
    position: absolute;
    background: rgba(255,255,255,0.36);
    z-index:9999999999999;
}
.shepherd-element {
    z-index: 999999999999999999;
}